code {
    background-color: gray;
}

p {
    font-size: 16px;
}

.first-letter p::first-letter {
    color: lime;
    background-color: black;
    margin: 5px;
    padding: 5px;
    border: 1px dashed red;
    font: normal 800 20px cursive;
}

.first-line p::first-line {
    color: lime;
    background-color: darkgreen;
    font-size: 2rem;
    text-decoration: line-through;
    text-transform: capitalize;
}

video {
    width: 100%;
}

.backdrop video::backdrop {
    background-color: lime;
    background-image: linear-gradient(orange, purple);
}

.marker summary::marker {
    color: red;
    content: "♦";
}

.marker li::marker {
    color: blue;
    content: "♪ ";
}

.placeholder input {
    color: brown;
}

.placeholder input::placeholder {
    background-image: linear-gradient(cyan, teal, blue);
    color: white;
}

.selection *::selection {
    background-color: black;
    color: white;
}

.select-me::selection {
    color: orange;
    background-color: purple;
    text-decoration: line-through cyan;
    text-shadow: 5px 2px white;
}

.before-n-after p::before {
    content: "↑";
    background-color: palegreen;
}

.before-n-after p::after {
    content: "↓";
    background-color: palegoldenrod;
}

.before-n-after span::before {
    content: "▲";
    background-color: paleturquoise;
}

.before-n-after span::after {
    content: "▼";
    background-color: palevioletred;
}

.fake-img {
    background-image: url(cyberpunktree.jpg);
    height: 250px;
    width: 250px;
    position: relative;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
}

.fake-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#39FF1433,#FFFF0099);
}
